@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&family=Roboto&display=swap');

/* ------------------------------------------------General */

body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.padding {
    padding-top: 20px;
}

/* ------------------------------------------------Header */
.navbar {
    background-color: #C0392B;
}

.navbar-brand {
    font-family: 'Audiowide', cursive;
    font-weight: bold;
    letter-spacing: 3px;
}

#navbarNav li a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 2px;
}

#navbarNav li button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-brand img {
    max-height: 50px;
    width: auto;
}

#header-slides img {
    max-height: 700px;
    width: auto;
}

.welcome {
    text-align: center;
}

.selling-point {
    text-align: center;
}

.selling-point img {
    max-height: 50px;
    width: auto;
}

.find-out-more img {
    max-height: 300px;
    width: auto;
}

/* ------------------------------------------------Special text/paddings/margins */

.uppercase {
    text-transform: uppercase;
}

.navbar-header {
    padding-right: 0px;
}

.selling-point {
    margin-bottom: 20px;
}

.selling-point div > * {
    padding: 0% 10%;
}

.top-subjects {
    width: 100%;
    margin-bottom: 20px;
}

.site-nav-text {
    padding: 50px 30px;
}

.tutors .jumbotron {
    padding: 32px 32px;
}

.social-media i {
    margin-right: 10px;
}

/* ------------------------------------------------Media Queries */

@media (min-width: 840px) {

    .navbar .navbar-header {
        flex-wrap: nowrap;
    }
    /* ---Help from stackoverflow--- */
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    /* ---/Help from stackoverflow--- */
    
}

/* ------------------------------------------------Tutor profiles */

.profile {
    margin-top: 40px;
}

.profile-pic {
    max-height: 200px;
    width: auto;
    border: black 2px solid;
    border-radius: 50% 50%;
}

.profile img {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
}

.profile img:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}

.profile-body {
    margin-top: 10px;
}

/* ------------------------------------------------Reviews Carousel */

.reviews-icon {
    font-size: 30px;
    margin-bottom: 20px;
}

#reviews-slides li {
    width: 10px;
    height: 10px;
    border-radius: 100%; 
    /* Code used from https://stackoverflow.com/questions/47235256/bootstrap-4-change-the-carousel-indicators-into-dots */
}

.checked {
    color: orange;
}

#reviews-slides .carousel-indicators {
  bottom: -50px;
}

#reviews-slides .carousel-inner {
   margin-bottom: 50px;
}

/* ------------------------------------------------Footer */

footer {
    background-color: #C0392B;
    color: #fff;
}

footer h5 {
    padding-top: 20px;
}

.copyright {
    margin-bottom: 10px;
}

.social-media i {
    color: #fff;
}