

/* ------------------------------------------------Header */
.navbar-brand img {
    max-height: 50px;
    width: auto;
}

#header-slides img {
    max-height: 700px;
    width: auto;
}

.welcome {
    text-align: center;
}

.selling-point {
    text-align: center;
}

.selling-point img {
    max-height: 50px;
    width: auto;
}


.find-out-more img {
    max-height: 300px;
    width;
}
/* ------------------------------------------------Special text/paddings/margins */

.uppercase {
    text-transform: uppercase;
}